.toolbar {
    padding: 12px 0;
}

.toolbar>button {
    margin-right: 16px;
}

.gridPage {
    padding: 0 20px;
}

.actionWrapper {
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actionIcon {
    display: flex;
    font-size: 16px;
    color: #08c;
    cursor: pointer;

}